{% extends "base.html.twig" %}

{% block body %}

	<div class="container py-5">

		<div class="row">
			<div class="col-12 py-2">
				<a href="{{ path('episode_list') }}" class="btn btn-link">
					<i class="fas fa-arrow-circle-left"></i>
					Retour
				</a>
			</div>
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>{{ episode.name }}</h3>
					</div>
					<div class="card-body">
						<iframe width="100%" height="650" src="https://www.youtube.com/embed/{{ episode.pathToVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-12 mt-3">
				<div class="card">
					<div class="card-header">
						<h3>Les commentaires</h3>
					</div>
					<div class="card-body">
						{% if episode.comments | length > 0 %}

							{% for comment in episode.comments %}
								<p>
									<b>Auteur:
										{{ comment.user.email }}</b>
								</p>
								<p>{{ comment.content }}</p>
								<p>Date:
									{{ comment.createAt | date('d-m-y') }}</p>
								<hr>
							{% endfor %}

						{% else %}
							<p class="text-muted">Aucun commentaire</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-12 mt-3">
				<div class="card">
					<div class="card-header">
						<h3>Formulaire d'ajout de commentaire</h3>
					</div>
					<div class="card-body">
						{% if app.user %}
							<p>...</p>
						{% else %}
							<p>Vous devez être connecté pour ajouter un commentaire.</p>
							<a href="{{ path('app_register') }}" class="btn btn-link">
								<i class="fas fa-user"></i>
								Créer un compte</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
